body {
    background: rgb(112, 232, 156);
    background: linear-gradient(90deg, rgb(73, 159, 136) 25%, rgb(78, 114, 180) 75%);
    font-family: 'Kanit', sans-serif;
    font-size: larger;
    text-decoration: none;

}

.top {
    height: 200px;
    width: 300px;
    background-color: rgb(171, 191, 252);
    border: black 3px solid;
    padding: white 5px solid;
    margin: 5px;
}

.middle {
    height: 200px;
    width: 300px;
    background-color: rgb(163, 245, 214);
    border: rgb(0, 0, 0) 3px solid;
    padding: white 5px solid;
    margin: 5px;
}

.bottem {
    height: 200px;
    width: 300px;
    background-color: rgb(215, 174, 238);
    border: rgb(0, 0, 0) 3px solid;
    padding: white 5px solid;
    margin: 5px;
}

.header {
    padding: 1px;
    text-align: center;
    background: #8b1abc;
    color: white;
    font-size: 30px;
}

.decagon {
    display: flex;
    position: relative;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    background: rgb(28, 89, 118);
    height: 280px;
    width: 280px;
    border: rgb(102, 110, 197);
}

.rhombus {
    display: flex;
    position: relative;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: rgb(187, 127, 255);
    height: 280px;
    width: 280px;
    border: lightseagreen;
}

.flex {
    display: flex;
    border: lightskyblue 5px solid;
    height: 280px;
    width: 280px;
    position: relative;
}

.bigflex {
    display: flex;
    border: #8b1abc 10px solid;
    justify-content: space-between;
    flex-wrap: wrap;
}